@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

// mixins for common styles
@mixin commonStyle() {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

body {
  background-color: black;
}

//variables
$fontsize: 3rem;
$hoverColorHeader: grey;
