.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: black;
  color: white;

  &__links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;

    &__home,
    &__projects {
      @include commonStyle;
    }

    &__home:hover {
      color: $hoverColorHeader;
    }
    &__projects:hover {
      color: $hoverColorHeader;
    }
  }
}

.logo {
  font-size: 30px;
}

.mobile--menu--icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .navbar__links {
    display: none;
  }

  .mobile--links--menu {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #1b1b1b;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 2;
  }

  .navbar {
    &__links {
      &__home,
      &__projects {
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
      }
    }
  }

  .mobile--menu--icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
}

// banner
.bannerContainer {
  color: white;
  font-size: 3.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: center;

  // &__buttons > a {
  //   margin-top: 10px;
  //   margin-left: 5%;
  // }

  // &__buttons a:hover {
  //   background-color: white;
  //   color: black;
  // }

  // &__buttons a {
  //   margin: 10px;
  //   padding: 15px;
  //   min-width: 10%;
  //   font-size: 1.2rem;
  //   color: white;
  //   border-radius: 10px;
  //   text-align: center;
  //   border: 1px solid white;
  //   cursor: pointer;
  // }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 9%;
  margin-top: 9%;
}

.buttons a {
  border: 1px solid white;
  cursor: pointer;
  padding: 15px;
  min-width: 10%;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.buttons > a {
  margin-right: 2%;
}

.buttons a:hover {
  background-color: white;
  color: black;
}

#name {
  justify-content: flex-start;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 13%;
}

#title {
  display: flex;
  color: grey;
  justify-content: flex-end;
  margin-right: 13%;
  text-align: center;
}

.box {
  width: 20px;
  height: 20px;
  background-color: orange;
}

#box1 {
  margin-left: 3%;
  background-color: red;
}

#box2 {
  margin-left: 90%;
  background-color: purple;
}

#box3 {
  margin-left: 95%;
  background-color: yellow;
}
#box4 {
  margin-left: 1%;
  background-color: lime;
}

#box5 {
  margin-left: 80%;
  background-color: aqua;
}

#box6 {
  margin-left: 20%;
  background-color: rgb(255, 0, 195);
}

#box7 {
  background-color: aliceblue;
}

.skills {
  &__grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "item1 item2 item3 " "item4 item5 item6" "item7 item8 item9" "item10 item11 item12";
  }

  &__grid > div {
    display: flex;
    justify-content: center;
  }
}

.skills h1 {
  color: white;
  font-size: $fontsize;
  text-align: center;
  margin: 7%;
}

.items {
}

//responsive home page
@media only screen and (max-width: 700px) {
  .bannerContainer {
    font-size: 2.4rem;
  }

  .skills {
    &__labels > img {
      max-height: 100px;
      max-width: 100px;
    }
  }
}
